/* Shared Items */

.des-color{
    color: rgb(109, 111, 115);
}

.primary-btn{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  border-radius: 8px;  
    
}

.azeret-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header nav button{
    border: 1px solid rgba(0, 0, 0, 0.705);
    width: 224px;
    height: 50px;
}
header nav button:hover{
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 1s;
}

header nav{
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    align-items: center;
}

/*Header Banner */
header .banner{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
}

header .banner .hero-section img{
    height: 240px;
    width: 240px;
}
header .banner .hero-section .banner-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}
header .banner .hero-section .banner-description{
    font-size: 16px;
    font-weight: 600;
    
}
header .banner .hero-section button{
    border: 1px solid rgba(0, 0, 0, 0.705);
    width: 224px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
}
header .banner .hero-section{
    width: 998px;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


/* Main */
main{
    margin: 0 auto;
    max-width: 1140px;
}

main .main-heading h2{
    font-size: 32px;
    font-weight: 800;
}
main .main-heading p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.whyDev-section{
    height: 1393px;
    background-color: #d7dee971;
    border-radius: 16px;
}
.main-heading{
    margin-top: 72px;
    padding: 80px 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


/* Section1 */
.sec-btn{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  height: 47px;
  width: 171px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.705);
  border-radius: 8px;
}

.sec-btn:hover{
    background-color: #000000;
    transition-duration: 1s;
    color: #FFFFFF;
}

main .section1 .left h1{
    font-size: 24px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.7);
}
main .section1 .left p{
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
}

.section1 .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section1{
    border-radius: 10px;
    margin: 0 auto;
    width: 946px;
    height: 336px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}


.s2{
    border-radius: 10px;
    margin: 0 auto;
    width: 946px;
    height: 336px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}


/* Target-Section */

main .target-section{
    
}
main .target-section .target-header{
    padding: 151px 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 852px;
    gap: 24px;
    text-align: center;
}
.target-header h2{
    font-size: 32px;
    font-weight: 700;
}
.target-header p{
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
}

/* card */
.target-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.target-card .target-card-items{
    
    padding: 40px;
    width: 284px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}

.target-card .target-card-items h2{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px ;
}
.target-card .target-card-items p{
    margin-bottom: 24px;
}
.second-card{
    background-color: rgba(0, 76, 232, 0.05);
}
.third-card{
    background-color: rgba(255, 223, 0, 0.05);
}