/* Shared Items */

.des-color{
    color: rgb(109, 111, 115);
}

.primary-btn{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  border-radius: 8px;  
    
}

.azeret-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header nav button{
    border: 1px solid rgba(0, 0, 0, 0.705);
    width: 224px;
    height: 50px;
}
header nav button:hover{
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 1s;
}

header nav{
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    align-items: center;
}

/*Header Banner */
header .banner{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
}

header .banner .hero-section img{
    height: 240px;
    width: 240px;
}
header .banner .hero-section .banner-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}
header .banner .hero-section .banner-description{
    font-size: 16px;
    font-weight: 600;
    
}
header .banner .hero-section button{
    border: 1px solid rgba(0, 0, 0, 0.705);
    width: 224px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
}
header .banner .hero-section{
    width: 998px;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


